asgiref==3.8.1
astor==0.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.7
-e git+https://github.com/wazabanda/djangoinitializer.git@40417b1c3b3e2b0e9f18526dfb5f102bb3319e71#egg=django_init
idna==3.7
parso==0.8.4
requests==2.32.3
simple-term-menu==1.6.4
sqlparse==0.5.1
urllib3==2.2.2
